.red-block(ng-style="{'width': poll.result.total.red.percent + (poll.result.total.rest / 2) + '%'}")
  p {{poll.result.total.red.percent | number:1}}%
.blue-block(ng-style="{'width': poll.result.total.blue.percent + (poll.result.total.rest / 2) + '%'}")
  p {{poll.result.total.blue.percent | number:1}}%
p.poll-title Dagens Gallup
.poll-date {{poll.result.updated | date:'d MMM y kl. H:mm':'UTC'}}
.half-way
