@font-face {
  font-family: 'Berlingske Sans Regular';
  src: url('fonts/berlingske_sans-regular-webfont.eot');
  src: url('fonts/berlingske_sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/berlingske_sans-regular-webfont.woff') format('woff'),
       url('fonts/berlingske_sans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Sans Extra Bold';
  src: url('fonts/berlingske_sans-extrabold.eot');
  src: url('fonts/berlingske_sans-extrabold.eot?#iefix') format('embedded-opentype'),
       url('fonts/berlingske_sans-extrabold.woff') format('woff'),
       url('fonts/berlingske_sans-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
